<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ida:Tenant" value="ChadSCoonhotmail.onmicrosoft.com" />
    <add key="ida:ClientId" value="7935cd20-223f-4f57-a7c8-cf215a6bbe2d" />
    <add key="ida:RedirectUri" value="https://TodoListClient" />
    <add key="todo:TodoListResourceId" value="https://ChadCoonD1/TodoListService-ManualJwt" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44324" />
  </appSettings>
</configuration>